ConfigSection/Email.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ConfigSection" elementFormDefault="qualified" targetNamespace="urn:ConfigSection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="email" type="tns:ConfigSection.EmailCT" />
	<xs:complexType name="ConfigSection.EmailCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="client" type="tns:ConfigSection.ClientElementCT">
				<xs:annotation>
					<xs:documentation>The Client.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConfigSection.ClientElementCT">
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
